@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Inter", system-ui, sans-serif;
  }
}

/* Sidebar style */
.nav-active {
  padding-left: 17px;
  padding-top: 17px;
  padding-bottom: 17px;
  background: #f0f5fa;
  min-width: inherit;
  border-radius: 12px;
}

.pageNav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding-left: 17px;

  padding-top: 17px;
  padding-bottom: 17px;
  min-width: inherit;
  border-radius: 12px;
  transition: all 0.4s ease-in-out;
}
.pageNav:hover {
  background: #f0f5fa;
}

/* Pagination style */
.pagination {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 60px;
  gap: 10px;
}

.pagination .page-number {
  border: 1px solid #f1f1f1;
  border-radius: 8px;
  width: 32px;
  height: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;

  color: #333333;
  background: #fff;

  cursor: pointer;
  transition: all 0.5s ease;
}

.pagination .page-number:hover {
  color: #fff;
  background: #00a8ff;
}

.pagination .active {
  min-width: 32px !important;
  border-radius: 8px;

  color: #fff;
  background: #00a8ff;
}

.pagination .active:hover {
  color: #00a8ff;
  background: #fff;
}
